@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-weight: normal;
}
.navbar{

display: flex;
align-items: center;
justify-content:center;
flex-direction: row;
height: 10em;
width: 98.5%;
background: #242038;
}
.navbar h1{
position: absolute;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 106px;
/* identical to box height */
color: #EAFDF8;
}

.mainpage{
position: absolute;

display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;

height: 100%;
width: 98.5%;


background: #F7ECE1;
}
.leftcol{
    
display: flex;
align-items: center;
flex-direction: column;
height: 100%;
width: 30%;
gap: 10px;


}
.rightcol{
        
display: flex;
align-items: center;
justify-content:center;
flex-direction: column;
height: 100%;
width: 70%;
background:#f7ece1;

}
.orbox{
    /*position: absolute;*/

    display: flex;
   justify-content: space-between;
    flex-direction: column;
    /*justify-content:space-around*/
    width: 300px;
    margin: 20px 10px 10px 10px;
    
    background: #F46036;
    border-radius: 25px 25px 25px 0px;
}
.clock{
    /*position: absolute;*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 308px;
    height: 120px;
    margin: 20px 10px 10px 10px;

    background: #242038;
    border-radius: 25px;
}
.frame{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    flex-direction: column;

width: 90%;
height: 90%;
left: 20px;
top: 20px;

background: #D9D9D9;
opacity: 0.8;
}
.graph{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;

width: 90%;
height: 70%;
margin: 20px 10px 10px 10px;

background: #1B998B;
border-radius: 25px 25px 25px 25px;
}
.gauge-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap:10px;
    width: 90%;
    margin: 20px 10px 20px 10px;
    
    background: #f46036;
    border-radius: 25px 25px 25px 25px;
}
.gauge-panel canvas{
    margin: 20px 20px 20px 20px;
}
.orbox label{
    left: 16px;
    top: 7px;
    
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    padding-left: 10px;
    padding-top: 10px;
    
    color: #FFFFFF;
}
.lastupdate label{

padding-left: 10px;
padding-bottom: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 12px;

color: #FFFFFF;

opacity: 0.5;
}
.pm{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    gap: 5px;
    padding: 0px 5px 5px 10px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #EAFDF8;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.CandF{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.text_temp{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    
padding-left: 10px;
width: 50%;
}
.text_temp label{


font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;

color: #EAFDF8;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.temperature{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
}
.gauge_temp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
.clock label{
    left: 28px;
top: -3px;

font-family: 'Coda';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 136px;

color: #FFFFFF;
}
.graph{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}